@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    margin: 0 auto; 
    width: full;
    max-width: 85rem;
    padding: 10rem 1.5em;
}

.section-first{
    padding: 1.5em 1.5em;
}